$color-white: #fff;
$color-black: #000;
$color-green: #32CD32;
$color-grey-dark: #777;
$color-grey-light: #f7f7f7;
$color-orange-red: orangered;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONT SIZES
$default-font-size: 1.6rem;
